name: 1. Build, Test & PR to develop

on:
  push:
    branches:
      - 'feature/**'

jobs:
  call-build-test:
    name: Build & Test
    permissions:
      contents: read
    uses: barbarastefany/reusable-workflows/.github/workflows/1-build-test.yml@main
    with:
      java-version: '17'
    secrets: inherit

  call-pr-to-develop:
    name: Cria PR de feature para develop
    needs: call-build-test
    permissions:
      contents: write
      pull-requests: write
    uses: barbarastefany/reusable-workflows/.github/workflows/2-pr-to-develop.yml@main
    with:
      base-branch: ${{ github.ref_name }}
      target-branch: 'develop'
    secrets: inherit